.main-section {
  display: flex;
  flex-direction: column;
  /* overflow-y: overlay; */
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-white);
}

.main-header {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.4rem;
}
.main-header .icon {
  font-size: 2rem;
}

.main-header > h1 {
  font-size: 1.4rem;
  color: var(--color-grey1);
}

@media (max-width: 1210px) {
  .main-section {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1024px) {
  .main-section {
    height: auto;
  }
}

@media (max-width: 767px) {
  .main-section {
    padding-left: 0rem;
  }
}

@media (max-width: 576px) {
  .main-section {
    min-height: calc(100% - var(--navbar-height));
    /* height: auto; */
    /* max-height: auto; */
    max-height: calc(100% - var(--navbar-height));
    background-color: var(--color-white4);
    position: relative;
    overflow: scroll;
  }

  .main-header {
    margin-top: 0.7rem;
    padding: 0 0.8rem;
  }

  .main-header > h1 {
    font-size: 1.5rem;
  }

  .main-header .icon {
    font-size: 1.8rem;
  }

  .main-section.selected .main-header {
    display: none;
  }
}
