.main-section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-y: overlay;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-white);
  padding-top: 0.5rem;
}

body.dark-mode .main-section {
  background-color: var(--color-dark4b);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.4rem;
}
.main-header .icon {
  font-size: 2rem;
}

.main-header > h1 {
  font-size: 1.4rem;
  color: var(--color-grey1);
}
body.dark-mode .main-header > h1 {
  color: var(--color-white3);
}

.main-section::-webkit-scrollbar {
  width: 0.4rem;
}
.main-section::-webkit-scrollbar-thumb {
  background-color: var(--color-grey4);
}
body.dark-mode .main-section::-webkit-scrollbar-thumb {
  background-color: var(--color-grey2);
}

.main-section::-webkit-scrollbar-track {
  background-color: var(--color-white1);
}
body.dark-mode .main-section::-webkit-scrollbar-track {
  background-color: var(--color-dark4);
}

@media (max-width: 1210px) {
  .main-section {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1024px) {
  .main-section {
    height: auto;
    min-height: calc(100vh - var(--navbar-height));
    max-height: calc(100vh - var(--navbar-height));
  }
}

@media (max-width: 767px) {
  .main-section {
    padding-left: 0rem;
  }
}

@media (max-width: 576px) {
  .main-section {
    /* max-height: auto; */
    background-color: var(--color-white4);
    position: relative;
    overflow: scroll;
    overflow: overlay;
    padding-top: 0.7rem;
  }

  .main-section.selected {
    background-color: var(--color-white3);
  }
  body.dark-mode .main-section.selected {
    background-color: var(--color-dark2);
  }

  .main-header {
    padding: 0 0.8rem;
  }

  .main-header > h1 {
    font-size: 1.5rem;
  }

  .main-header .icon {
    font-size: 1.8rem;
  }

  .main-section.selected .main-header {
    display: none;
  }
}
