.section-loading {
  padding: 1.3rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  height: auto;
  max-height: 94%;
  align-items: flex-start;
}

.loading-left,
.loading-right {
  background-color: var(--color-grey10);
  border-radius: 0.5rem;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-left {
  padding: 2rem 1.3rem;
  flex: 0.97;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: flex-start; */
}
.loading-left h3 {
  height: 1.7rem;
  width: 45%;
  /* border-radius: 0.8rem; */
  color: var(--color-grey8b);
  background-color: var(--color-grey8b);
}

.loading-right {
  padding: 0.9rem 1.3rem;
  flex: 2;
  gap: 1rem;
}

.loading-left .loading-child {
  background: var(--color-grey8b);
  height: 5.5rem;
  border-radius: 0.8rem;
  width: 100%;
}

.loading-right__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.loading-right__head h3 {
  height: 1.5rem;
  background-color: var(--color-grey8b);
  width: 10rem;
}

.loading-right__head .icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-grey8b);
}
.loading-right__head span {
  height: 1.5rem;

  width: 5rem;
  background-color: var(--color-grey8b);
}

.loading-date__nav {
  height: 2rem;
  background-color: var(--color-grey8b);
  border-radius: 0.3rem;
}

.loading-graph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  height: 20rem;
  background-color: var(--color-grey8b);
}

.loading-unit__control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.loading-unit__control .value {
  height: 3rem;
  width: 6rem;
  background-color: var(--color-grey8b);
}
.loading-unit__control .unit {
  height: 2rem;
  width: 3rem;
  background-color: var(--color-grey8b);
}

.loading-animation {
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    background: hsl(360, 0%, 74%);
  }
  50% {
    background: hsl(360, 0%, 80%);
  }
  100% {
    background: hsl(360, 0%, 74%);
  }
}
