.cardItem-value__container {
  display: flex;
  gap: 0.3rem;
  align-items: flex-end;
}
/* .cardItem-value__container.active {
  color: var(--color-white3);
} */

.cardItem-value {
  font-size: 2.1rem;
  font-weight: 650;
  margin-right: 0.3rem;
  color: var(--color-grey1);
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.cardItem-value.detail-value {
  font-size: 2.3rem;
}

.cardItem-unit {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-grey3);
}

.foot-unit {
  color: var(--color-grey4);
}

.empty-value {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-grey3);
  line-height: 2rem;
  margin-right: 0.5rem;
}
