.container-table {
  margin-right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-radius: 0.35rem;
  overflow: hidden;
}

.emptyTable {
  font-size: 3rem;
  text-align: center;
  font-weight: 650;
  color: var(--color-grey5);
  margin: auto 0;
}
body.dark-mode .emptyTable {
  color: var(--color-grey2);
}

.table-head {
  display: flex;
  justify-content: space-between;
  height: 3.2rem;
  flex-shrink: 0;
  background-color: var(--color-grey8b);
  align-items: center;
  padding: 0 1.5rem;
}
body.dark-mode .table-head {
  background-color: var(--color-dark8);
}

.table-head span {
  font-weight: 650;
  color: var(--color-black4);
}
body.dark-mode .table-head span {
  color: var(--color-grey8);
}
.table-body {
  background-color: var(--color-white2);
  overflow-y: scroll;
  overflow-y: overlay;
  border-bottom-left-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
body.dark-mode .table-body {
  background-color: var(--color-dark1);
}

.table-body li {
  overflow-x: hidden;
  transition: all 250ms ease-in-out, border 0ms;
  display: flex;
  height: 2.8rem;
  position: relative;
}
.table-body .data-span:hover {
  background-color: var(--color-grey11);
}
body.dark-mode .table-body .data-span:hover {
  background-color: var(--color-dark5);
}

.table-body li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey8);
}
body.dark-mode .table-body li:not(:last-child) {
  border-bottom: 1px solid var(--border-dark);
}

.table-body li .data-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 1.3rem 0 1.6rem;
  transition: all 250ms ease-in-out, background 100ms;
}
.date-span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.data-span .value {
  font-weight: 500;
}
body.dark-mode .data-span .value {
  color: var(--color-white4);
}

.date-span .date {
  color: var(--color-grey2);
  font-weight: 500;
}
body.dark-mode .date-span .date {
  color: var(--color-grey5);
}
.date-span .icon {
  font-size: 0.9rem;
  color: var(--color-grey5);
}
body.dark-mode .date-span .icon {
  color: var(--color-grey2);
}

.table-body .delete-span {
  flex-basis: content;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  transform: translateX(7.3rem);
  position: absolute;
  right: 0;
  height: 100%;
  background-color: rgb(249, 75, 75);
  color: var(--color-white3);
  transition: all 250ms ease-in-out, color 0ms ease;

  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
}
.table-body .delete-span:hover {
  background-color: rgb(255, 92, 92);
}
body.dark-mode .table-body .delete-span {
  background-color: #ad2c2c;
}
body.dark-mode .table-body .delete-span:hover {
  background-color: #b72f2f;
}

/* SELECT TRANSITION */
.table-body li.selected {
  transition: all 250ms ease-in-out;
  /* background-color: var(--color-grey9); */
}
.table-body li.selected .data-span {
  transform: translateX(-7.3rem);
  padding: 0 1rem 0 1.6rem;
}
.table-body li.selected .delete-span {
  transform: translateX(0rem);
}
.table-body li.selected .date-span .icon {
  opacity: 0;
}

/* DELETE TRANSITION */
.table-body li.selected.deleting {
  height: 0;
}
.table-body li.selected.deleting .data-span {
  transform: translateX(-40rem);
}
.table-body li.selected.deleting .delete-span {
  color: transparent;
  transform: scaleX(8);
  transform-origin: right;
}

.table-body li.transition-disabled,
.table-body li.transition-disabled .data-span,
.table-body li.transition-disabled .delete-span {
  transition: unset;
}

/* SCROLL BAR STYLE */

.table-body::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 1rem;
}
.table-body::-webkit-scrollbar-thumb {
  background-color: #9999;
}
body.dark-mode .table-body::-webkit-scrollbar-thumb {
  background-color: var(--color-grey1);
}
.table-body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.table-body::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (max-width: 1024px) {
  .container-table {
    min-height: 20rem;
    max-height: 31rem;
  }
}

@media (max-width: 576px) {
  .container-table {
    margin: 0 1rem 3rem 1rem;
    min-height: unset;
    max-height: unset;
  }
  .emptyTable {
    font-size: 2rem;
    font-weight: 650;
    color: var(--color-grey5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .table-head {
    background-color: var(--color-grey11);
    padding: 0 1.3rem;
  }
  .table-body {
    background-color: var(--color-white1);
  }
  .table-body li .data-span:hover {
    background-color: var(--color-white1);
  }
  body.dark-mode .table-body li .data-span:hover {
    background-color: var(--color-dark1);
  }
  .table-body li .data-span:active {
    background-color: var(--color-white4);
  }
  body.dark-mode .table-body li .data-span:active {
    background-color: var(--color-dark3);
  }
  .table-body li:not(:last-child) {
    border-bottom: 0.1px solid var(--color-grey10);
  }
  body.dark-mode .table-body li:not(:last-child) {
    border-bottom: 0.1px solid var(--border-dark);
  }
  .table-body li .data-span {
    padding: 0 1rem 0 1.4rem;
  }
  .data-span .date {
    color: var(--color-grey3);
  }
  .date-span .icon {
    color: var(--color-grey6);
  }
  .table-body li .delete-span {
    padding: 0 1.2rem 0 1.3rem;
    transform: translateX(5.8rem);
  }
  .table-body li.selected .data-span {
    transform: translateX(-5.8rem);
    padding: 0 0.5rem 0 1.4rem;
    background-color: var(--color-white1c);
  }
  body.dark-mode .table-body li.selected .data-span {
    background-color: var(--color-dark5);
  }
  .table-body .delete-span:hover {
    background-color: rgb(249, 75, 75);
  }
  .table-body .delete-span:active {
    background-color: rgb(177, 46, 46);
  }
  body.dark-mode .table-body .delete-span:hover {
    background-color: #9a2626;
  }
  body.dark-mode .table-body .delete-span:active {
    background-color: #ab2b2b;
  }

  .table-body li.transition-disabled,
  .table-body li.transition-disabled .data-span,
  .table-body li.transition-disabled .delete-span {
    transition: unset;
  }
}
