:root {
  --bg1: #ffffff;
  --cirlce-a: rgb(97, 141, 224);
  --cirlce-b: rgb(30, 103, 238);
}

.appLoader {
  background: var(--bg1);
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1,
.circle2,
.circle3 {
  background: conic-gradient(
    var(--cirlce-b) 0deg,
    var(--cirlce-b) 130deg,
    transparent 120deg,
    transparent 360deg
  );
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
}

.circle1::before,
.circle2::before,
.circle3::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--bg1);
  border-radius: 50%;
}

.appLoader.dark-theme,
.appLoader.dark-theme .circle1::before,
.appLoader.dark-theme .circle2::before,
.appLoader.dark-theme .circle3::before {
  background-color: var(--color-dark4);
}

.circle1 {
  width: 84px;
  height: 84px;
  animation: rotate1 1.3s linear infinite;
}
@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}

.circle2 {
  width: 72px;
  height: 72px;
  animation: rotate2 0.6s linear infinite;
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}

.circle3 {
  width: 60px;
  height: 60px;
  animation: rotate3 0.45s linear infinite;
}
@keyframes rotate3 {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .appLoader,
  .circle1::before,
  .circle2::before,
  .circle3::before {
    background-color: var(--color-white4);
  }
}
