.appLoader2 {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body.dark-mode .appLoader2 {
  background-color: #010409;
} */

.loader {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 6rem;
  height: 6rem;
}
.loader > div {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: tomato; */
  background: #457ddf;
  transform: scale(1);
  transform-origin: center center;
  animation: loader 1500ms infinite linear;
}
.loader > div:nth-of-type(1),
.loader > div:nth-of-type(5),
.loader > div:nth-of-type(9) {
  animation-delay: 0.3s;
}
.loader > div:nth-of-type(4),
.loader > div:nth-of-type(8) {
  animation-delay: 0.15s;
}
.loader > div:nth-of-type(2),
.loader > div:nth-of-type(6) {
  animation-delay: 0.45s;
}
.loader > div:nth-of-type(3) {
  animation-delay: 0.52s;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
