.navbar {
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3rem;
  padding-right: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 2;
}

.app.dark-theme .navbar {
  background-color: var(--color-dark1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chart-back {
  display: none;
  font-size: 1.07rem;
  transform: translateX(-0.5rem);
}
.chart-back .icon {
  font-size: 1.4rem;
}

.text-btn button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--color-primary1);
}

.nav-left .icon {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.item.user .icon {
  font-size: 1.7rem;
}

.nav-search {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey10);
  border-radius: 0.3rem;
}
.app.dark-theme .nav-search {
  background-color: var(--color-dark2);
}

.nav-search-icon {
  color: var(--color-grey5);
}
.nav-search input {
  border: none;
  width: 20rem;
  height: 1.7rem;
  outline: none;
  font-size: 1rem;
  background-color: inherit;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.theme-toggle {
  cursor: pointer;
}

.navbar .item {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .item > svg {
  font-size: 1.5rem;
  color: var(--color-grey5);
}
.navbar .item > img {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-grey4);
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.navbar .item > span {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 0.8rem;
  transform: translate(0.7rem, -0.7rem);
  background: #f00;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 1210px) {
  .navbar {
    padding-left: 4.7rem;
  }
}

@media (max-width: 767px) {
  .nav-search input {
    width: 10rem;
  }
  .navbar {
    padding-left: 1rem;
  }
  .nav-left .icon {
    display: block;
  }

  /* .menu-btn:active {
    background-color: green;
  } */
}

@media (max-width: 576px) {
  .nav-search {
    background: none;
  }
  .nav-search input {
    width: 0rem;
  }
  .navbar {
    padding: 0 0.8rem;
  }

  .navbar.show-backBtn .chart-back {
    display: block;
  }
  .navbar.show-backBtn .nav-left {
    display: none;
  }

  .nav-right {
    gap: 1.5rem;
  }
} ;
