.cardItem,
.emptyCardItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-white3);
  border: 0.1rem solid var(--color-grey7);
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 100ms ease;
}

.cardItem {
  height: 5.6rem;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.cardItem:hover,
.emptyCardItem:hover {
  /* background-color: var(--color-grey7); */
  border-color: var(--color-grey5);
}

.cardItem-date__container {
  white-space: nowrap;
}

.cardItem:hover .cardItem-date__container,
.emptyCardItem:hover .emptyCardItem-add__container {
  transform: translate(0.2rem, 0);
}

.cardItem.active,
.emptyCardItem.active {
  transform: scale(1.015);
  background-color: var(--color-grey7);
  border: 0.1rem solid var(--color-grey6b);
}

.cardItem-date__container.active,
.emptyCardItem-add__container.active {
  transform: translate(0.2rem, 0);
}

.cardItem-top {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 0.8rem; */
}

.cardItem-name {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
}

.cardItem-bottom {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: space-between;
  align-items: flex-end;
}
.cardItem-bottom .icon {
  font-size: 1.7rem;
  /* color: var(--color-grey2) !important; */
}

.cardItem-top .cardItem-date__container {
  display: flex;
  align-items: center;

  transition: all 150ms ease;
}

.cardItem-top .cardItem-date {
  font-size: 0.8rem;
  font-size: 0.8rem;
}
.cardItem-top .icon {
  font-size: 1.3rem;
  /* font-size: 2rem; */
  color: var(--color-grey3);
}

/* EMPTY CARD ITEM */
.emptyCardItem {
  flex-direction: column;
  padding: 0.6rem 1rem;
}

.emptyCardItem-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: content;
}

.emptyCardItem-add__container {
  display: flex;
  align-items: center;
  transition: all 150ms ease;
}

.emptyCardItem-add {
  font-size: 0.8rem;
}

/* HOME CARD */
.cardItem.homeCard {
  height: 6rem;
  background: var(--color-white1);
  border-color: var(--color-grey5);
  transition: background 300ms ease;
}
.cardItem.homeCard .cardItem-date__container {
  transform: translateX(0.5rem);
  align-items: center;
}

.cardItem.homeCard:hover {
  background-color: var(--color-grey10);
}
.cardItem.homeCard:active {
  transform: scale(0.96);
}

.cardItem.homeCard:hover .cardItem-date__container {
  transform: translateX(0.5rem);
}

@media (max-width: 1024px) {
  .cardItem,
  .emptyCardItem {
    background-color: var(--color-white1);
    border: 0px solid var(--color-grey7);
  }
  .cardItem.homeCard {
    border: 1px solid var(--color-grey5);
  }
}

@media (max-width: 576px) {
  .cardItem {
    height: 5.8rem;
  }

  .emptyCardItem {
    padding: 0.8rem 1rem;
  }

  .cardItem.active,
  .emptyCardItem.active {
    background-color: var(--color-white1);
    transform: scale(1);
    border-width: 0;
  }

  .cardItem.homeCard {
    border: 0px solid var(--color-grey3);
  }
  .cardItem.homeCard:hover {
    background-color: var(--color-white1);
  }
  .cardItem.homeCard:active {
    transform: scale(1);
  }
}
