.cardItem,
.emptyCardItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-white3);
  border: 1px solid var(--color-grey7);
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 100ms ease;
}

.app.dark-theme .cardItem,
.app.dark-theme .emptyCardItem {
  background-color: var(--color-dark1);
  border-color: var(--border-dark);
}

.cardItem {
  height: 5.6rem;
  justify-content: space-between;
  padding: 0.6rem 1rem;
}

.cardItem:hover,
.emptyCardItem:hover {
  border-color: var(--color-grey5);
}

.cardItem-date__container {
  white-space: nowrap;
}

.cardItem.active,
.emptyCardItem.active {
  border: 1px solid var(--color-grey3);
}

.app.dark-theme .cardItem.active,
.app.dark-theme .emptyCardItem.active {
  border: 1px solid var(--color-grey4);
}

.cardItem-date__container.active,
.emptyCardItem-add__container.active {
  transform: translate(0.2rem, 0);
}

.cardItem-top {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: flex-start; */
  /* gap: 0.8rem; */
}

.cardItem-name {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  align-self: center;
}
.app.dark-theme .cardItem-name {
  color: var(--color-grey8b);
}

.cardItem-bottom {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: space-between;
  align-items: flex-end;
}
.cardItem-bottom .icon {
  font-size: 1.7rem;
  /* color: var(--color-grey2) !important; */
}

.cardItem-top .cardItem-date__container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  transition: all 150ms ease;
}

.cardItem-date__container,
.emptyCardItem-add__container {
  font-size: 0.8rem;
  color: var(--color-black4);
}

.app.dark-theme .cardItem-date__container,
.app.dark-theme .emptyCardItem-add__container {
  color: var(--color-grey5);
}

/* EMPTY CARD ITEM */
.emptyCardItem {
  flex-direction: column;
  padding: 0.6rem 1rem;
}

.emptyCardItem-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: content;
}

.emptyCardItem-add__container {
  display: flex;
  align-items: center;
  transition: all 150ms ease;
}

.emptyCardItem-add {
  font-size: 0.8rem;
}

/* HOME CARD */
.cardItem.homeCard {
  height: 6rem;
  background: var(--color-white1);
  border-color: var(--color-grey5);
  transition: background 200ms ease;
}
.cardItem.homeCard .cardItem-date__container {
  transform: translateX(0.5rem);
  align-items: center;
}

.cardItem.homeCard:hover {
  background-color: var(--color-grey11);
  border-color: var(--color-black3);
}
.app.dark-theme .cardItem.homeCard:hover {
  background-color: var(--color-dark2);
  border-color: var(--color-black3);
}
.cardItem.homeCard:active {
  transform: scale(0.98);
}

.cardItem.homeCard:hover .cardItem-date__container {
  transform: translateX(0.5rem);
}

@media (max-width: 1024px) {
  .cardItem,
  .emptyCardItem {
    background-color: var(--color-white1);
    border: 0px solid var(--color-grey7);
  }
  .cardItem.homeCard {
    border: 1px solid var(--color-grey5);
  }
}

@media (max-width: 576px) {
  .cardItem {
    height: 5.8rem;
  }
  .cardItem-name {
    font-size: 0.95rem;
  }

  .emptyCardItem {
    padding: 0.8rem 1rem;
  }

  .cardItem.active,
  .emptyCardItem.active {
    background-color: var(--color-white1);
    border-width: 0;
  }
  .cardItem:active,
  .emptyCardItem:active {
    background-color: var(--color-white1c);
  }

  .cardItem.homeCard {
    border: 0px solid var(--color-grey3);
    transition: background 100ms ease;
  }
  .cardItem.homeCard:hover {
    background-color: var(--color-white1);
  }

  .app.dark-theme .cardItem.homeCard:hover {
    background-color: var(--color-dark1);
  }
  .cardItem.homeCard:active {
    transform: scale(1);
    background-color: var(--color-white1c);
  }
  .app.dark-theme .cardItem:active,
  .app.dark-theme .emptyCardItem:active,
  .app.dark-theme .cardItem.homeCard:active {
    background-color: var(--color-dark5);
  }
}
