.cardItem,
.emptyCardItem {
  display: flex;
  align-items: stretch;
  background: var(--color-grey8b);
  background: var(--color-white3);
  border: 0.1rem solid var(--color-grey7);
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  /* border: 2px solid var(--color-gerey11); */
  transition: background 100ms ease, border 100ms ease;
}

.cardItem {
  height: 5.8rem;
  justify-content: space-between;
  padding: 0.7rem;
  padding-left: 1rem;
}

.cardItem:hover,
.emptyCardItem:hover {
  /* background-color: var(--color-grey7); */
  border-color: var(--color-grey5);
}
.cardItem:hover .cardItem-date__container,
.emptyCardItem:hover .emptyCardItem-add__container {
  transform: translate(0.2rem, 0);
}
.cardItem.active,
.emptyCardItem.active {
  /* background-color: rgb(126, 167, 255);
  background-color: rgb(101, 168, 255);
  background-color: rgb(150, 183, 255); */
  background-color: var(--color-grey7);
  /* border-color: rgb(116, 160, 255); */
  border: 0.1rem solid var(--color-grey6b);
}

.cardItem-date__container.active,
.emptyCardItem-add__container.active {
  transform: translate(0.2rem, 0);
}

.cardItem-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 0.8rem; */
}

.cardItem-name {
  font-size: 0.9rem;
  font-weight: bold;
}

.cardItem-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cardItem-right .cardItem-date__container {
  display: flex;
  align-items: center;
  transition: all 150ms ease;
}

.cardItem-right .cardItem-date {
  font-size: 0.8rem;
}
.cardItem-forward__icon {
  font-size: 1.3rem;
  color: var(--color-grey3);
}

.cardItem-right .cardItem-type__icon {
  font-size: 1.8rem;
}

/* EMPTY CARD ITEM */
.emptyCardItem {
  flex-direction: column;
  padding: 0.6rem;
  padding-left: 0.95rem;
}

.emptyCardItem-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: content;
}

.emptyCardItem-add__container {
  display: flex;
  align-items: center;
  transition: all 150ms ease;
}

.emptyCardItem-add {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .cardItem.active,
  .emptyCardItem.active {
    background: var(--color-white3);
    border: 0.1rem solid var(--color-grey7);
  }
}
