* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  /* outline: 1px solid violet; */
}

a {
  all: unset;
}

ul li {
  list-style: none;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
:root {
  /*BASIC COLORS */
  --color-black1: #000;
  --color-black2: #222;

  --color-grey1: #555;
  --color-grey2: #666;
  --color-grey2b: #686868;
  --color-grey3: #777;
  --color-grey3b: #787878;
  --color-grey4: #808080;
  --color-grey4b: #888888;
  --color-grey5: #909090;
  --color-grey5b: #989898;
  --color-grey6: #aaa;
  --color-grey6b: #a8a8a8;
  --color-grey7: #bbb;
  --color-grey7b: #b8b8b8;
  --color-grey8: #ccc;
  --color-grey8b: #c8c8c8;
  --color-grey9: #ddd;
  --color-grey9b: #d8d8d8;
  --color-grey10: #d8d8d8;
  --color-grey11: #ddd;

  --color-white1: #fff;
  --color-white2: #eaeaea;
  --color-white3: #eeeeee;

  /* LAYOUTS */

  --navbar-height: 3.3rem;
}
