* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  /* outline: 1px solid violet; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #9999;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}

a {
  all: unset;
}

ul li {
  list-style: none;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}
button {
  all: unset;
}

html::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
:root {
  /*BASIC COLORS */
  --color-black1: #000;
  --color-black2: #222;
  --color-black3: #333;
  --color-black4: #444;

  --color-grey1: #555;
  --color-grey2: #666;
  --color-grey2b: #686868;
  --color-grey3: #777;
  --color-grey3b: #787878;
  --color-grey4: #808080;
  --color-grey4b: #888888;
  --color-grey5: #909090;
  --color-grey5b: #989898;
  --color-grey6: #aaa;
  --color-grey6b: #a8a8a8;
  --color-grey7: #bbb;
  --color-grey7b: #b8b8b8;
  --color-grey8: #ccc;
  --color-grey8b: #c8c8c8;
  --color-grey9: #ddd;
  --color-grey9b: #d8d8d8;
  --color-grey10: #d8d8d8;
  --color-grey11: #ddd;

  --color-white1: #ffffff;
  --color-white1b: #f8f8f8;
  --color-white2: #eaeaea;
  --color-white3: #efefef;
  --color-white4: #e7e7e7;

  /* COLORS */
  --bg-blue1: rgb(101, 168, 255);
  --bg-blue2: rgb(126, 167, 255);
  --bg-blue3: rgb(150, 183, 255);

  --color-primary1: #457ddf;
  --color-primary1b: rgba(69, 125, 223, 0.785);
  /* LAYOUTS */

  --navbar-height: 3.3rem;

  /* DARKMODE */
  --color-dark1: #161b22;
  --color-dark2: #0d1117;
  --color-dark2b: #0f1417;
  --color-dark3: #1f252f;
  --color-dark4: #010409;
  --color-dark4b: #050809;
  --color-dark5: #21262d;
  --color-dark6: #1b1f24;
  --color-dark7: #384048;
  --color-dark8: #2f363d;
  --border-dark: #30363d;
}

/* RESPONSIVE */
@media (min-width: 1710px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 2050px) {
  html {
    font-size: 20px;
  }
}

/* @media (min-width: 576px) {
  body {
    background-color: #eee;
  }
} */
@media (max-width: 350px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 13px;
  }
}
