.date-control {
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 0.2rem;
  overflow: visible;
}

.date-control select {
  border: none;
  outline: none;
  background-color: var(--color-grey5);
  padding: 0.15rem 0.25rem;
  color: white;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  transition: all 200ms ease;
}

.date-control select:hover {
  background-color: var(--color-grey6);
}

@media (max-width: 576px) {
  .date-control select {
    background-color: var(--color-grey6b);
    background-color: var(--color-grey8);
    color: #333;
  }
}
