/* DATE NAVIGATION */
.date-navigation ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0.5rem;
  background-color: var(--color-grey7b);
  padding: 0.2rem 0.1rem;
}
.date-navigation ul li {
  text-align: center;
  padding: 0 0.1rem;
  /* padding-left: 0.3rem; */
  border-right: 2px solid var(--color-grey6b);
}

.date-navigation ul li:last-child {
  border-right: none;
}
.date-navigation ul li > span:last-child {
  display: none;
}
.date-navigation ul li > span {
  display: inline-block;
  width: 100%;
  padding: 0.2rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}
.date-navigation ul li:nth-child(2) > span {
  background: var(--color-white3);
  box-shadow: 0px 0px 0.5rem 0.1rem rgba(50, 50, 50, 0.3);
  /* display: none; */
}
