.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.container-back {
  display: none;
}

.container-head h3 {
  font-size: 1.1rem;
  font-weight: bold;
  transition: transform 300ms ease;
  transform: scale(0.3);
  margin-left: 8%;
  /* white-space: nowrap; */
}
.container-head.loaded h3 {
  transform: scale(1);
}

.container-head button,
.container-back button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--color-primary1);
}
.container-head button > .icon {
  font-size: 1.3rem;
}
.container-head button:hover {
  color: var(--color-primary1b);
}

.container-head .form-button {
  position: relative;
  white-space: nowrap;
}

.preferance-control {
  display: flex;
  cursor: pointer;
  margin-left: 0.3rem;
  position: relative;
}

.preferance-control .icon {
  font-size: 1.45rem;
  color: var(--color-primary1);
}
.preferance-control .icon:hover {
  transform: scale(1.04);
}

.preferance-control p {
  position: absolute;
  width: max-content;
  background-color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.95rem;
  color: var(--color-grey2);
  transform: translate(1.5rem, 1.5rem);
  box-shadow: 0 0 0.5rem rgba(50, 50, 50, 0.5);
  z-index: 3;
  opacity: 0;
  transition: all 300ms 100ms ease;
  pointer-events: none;
}
.preferance-control:hover p {
  opacity: 1;
}

.container-child {
  display: flex;
  margin-top: 1rem;
}

/* CHART */
.section-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  flex-shrink: 0;
  min-height: 10rem;
  /* background-color: var(--color-white3); */
  background-color: var(--color-grey8);
  background-color: var(--color-grey10);
  padding: 0.2rem 1rem 0.5rem 0.5rem;
  position: relative;
}

.chart-wrapper {
  height: 100%;
  width: 100%;
}

/* VIEW ALL DATA SECTION */
.detail-footer {
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.detail-about,
.view-allData,
.mobile-fav {
  height: 2.8rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  background-color: var(--color-grey8b);
  transition: background 200ms ease;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-grey1);
  cursor: pointer;
}

.mobile-fav {
  display: none;
}

.detail-about:hover,
.view-allData:hover {
  background-color: var(--color-grey7);
}

.detail-footer .icon {
  display: none;
}

@media (max-width: 1024px) {
  .section-chart {
    min-height: 20rem;
    max-height: 24rem;
  }
}

@media (max-width: 576px) {
  .container-head {
    margin: 0.8rem 0;
  }

  .container-head button span {
    font-size: 1rem;
    font-weight: 600;
  }
  .container-back button span {
    font-weight: 600;
  }

  .container-head h3 {
    margin-left: 2%;
    font-size: 1.1rem;
  }

  .container-right .container-child {
    margin-top: 0.7rem;
    overflow: visible;
  }

  .preferance-control {
    display: none;
  }

  .container-back {
    display: block;
  }

  .container-head {
    padding: 0;
    text-align: center;
  }

  .container-back .back-btn {
    display: flex;
    transform: translateX(-0.5rem);
  }

  .addData-btn .icon {
    display: none;
  }

  .detail-footer {
    margin-top: 1rem;
    flex-direction: column;
    gap: 0.7rem;
  }

  .detail-footer .icon {
    display: block;
  }

  .mobile-fav {
    display: flex;
  }
  .mobile-fav:active {
    background-color: var(--color-grey7);
  }

  .mobile-fav .icon {
    font-size: 1.3rem;
  }

  .detail-about,
  .view-allData,
  .mobile-fav {
    padding: 0.7rem 1rem;
    justify-content: space-between;
    background-color: var(--color-grey10);
    color: #333;
    font-weight: normal;
    border-radius: 0.4rem;
  }

  .detail-about:active,
  .view-allData:active,
  .mobile-fav:active {
    background-color: var(--color-grey8);
  }

  .section-chart {
    background-color: var(--color-white4);
    padding: 0.2rem 0rem 0.3rem 0rem;
  }
}

@media (max-width: 370px) {
  .section-chart {
    padding: 0.2rem 0rem 0.5rem 0rem;
  }
}

@media (max-width: 350px) {
  .section-chart {
    width: 98%;
  }
}
