.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}
.container-head h3 {
  font-size: 1.1rem;
  font-weight: bold;
  transition: transform 300ms ease;
  transform: scale(0.3);
}
.container-head.loaded h3 {
  transform: scale(1);
}
.container-head .form-button {
  position: relative;
}
.container-head button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: rgb(69, 125, 223);
}
.container-head button > .icon {
  font-size: 1.2rem;
}
.container-head button:hover {
  color: rgba(69, 125, 223, 0.785);
}

/* CHART */
.section-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  height: 21rem;
  /* background-color: var(--color-white3); */
  background-color: var(--color-grey8);
  background-color: var(--color-grey10);
  padding: 0.2rem 1rem 0.5rem 0.5rem;
  position: relative;
}

.chart-wrapper {
  height: 100%;
  width: 100%;
  /* overflow-x: scroll; */
}

/* VIEW ALL DATA SECTION */
.view-all__data {
  margin-top: 0.5rem;
  flex-shrink: 0;
  height: 3rem;
  background-color: var(--color-grey8b);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-grey2);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 100ms ease;
}

.view-all__data:hover {
  background-color: var(--color-grey7);
}
