.value-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.value-control {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
}

.value-header .unit {
  border: none;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 650;
  color: var(--color-grey1);
  outline: none;
  cursor: pointer;
  background-color: var(--color-grey8);
  transition: all 200ms ease;
}
.app.dark-theme .value-header .unit {
  background-color: var(--color-dark1);
  border: 1px solid var(--border-dark);
  color: var(--color-grey6b);
}

.value-header .unit:hover {
  background-color: var(--color-grey7b);
}

@media (max-width: 576px) {
  .value-header {
    /* margin-top: 1rem; */
    /* padding: 0 0.5rem; */
    margin: 0;
    padding: 1rem 1.5rem 0.7rem 1.5rem;
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .value-control {
    margin-bottom: 0.8rem;
  }

  .value-header .unit {
    padding: 0;
    background-color: var(--color-grey10);
  }

  .app.dark-theme .value-header .unit {
    background-color: var(--color-dark1);
    border: 0.5px solid var(--border-dark);
    color: var(--color-grey6b);
  }
}
